<header class="header">
  <ul>
    {% if user.is_authenticated %}
      <li><a href="{{ user.get_absolute_url }}">{{ user.get_username }}</a></li>
      <li><a href="{% url 'logout' %}">Logout</a></li>
    {% else %}
      <li><a href="{% url 'login' %}">Login</a></li>
    {% endif %}
  </ul>
  <nav class="menu">
    <ul class="menu-close">
      <li><a href="{% url 'kitchen:index' %}">Home</a></li>
      <li><a href="{% url 'kitchen:cook-list' %}">All cooks</a></li>
      <li><a href="{% url 'kitchen:dish-list' %}">All dishes</a></li>
      <li><a href="{% url 'kitchen:dish-type-list' %}">All dish types</a></li>
      <li><a href="{% url 'kitchen:ingredient-list' %}">All ingredients</a></li>
    </ul>
  </nav>
</header>
